body {
	background-color: #e8e08b;
}
#logo {
	border-radius: 10px;
	position: absolute;
	background-position: center;
	width: 500px;
	background-repeat: no-repeat;
}
#question,#answer,#attack {
	height: 300px;
	width: 1000px;
	background-color: #cccccc;
	display: none;
	position: fixed;
	border-radius: 10px;
}
#back {
	position: fixed;
	left: 0px;
	height: 100%;
	width: 10%;
}
#back:hover {
	background-color: #123456;
}
#mainbox {
	position: absolute;
	top: 150px;
}
.box {
	height: 98px;
	width: 98px;
	position: absolute;
	background-color: #ded49b;
	cursor: pointer;
	text-align: center;
	line-height: 100px;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
}
.box:hover {
	box-shadow: 1px 1px 10px #666666;
}
#cover {
	height: 100%;
	width: 100%;
	background-color: #888888;
	opacity:0.8;
	display: none;
}
#colorselect {
	height: 100px;
	width: 700px;
	position: fixed;
	display: none;
	box-shadow: 2px 2px 1px #888888;
}
.colorselect {
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 10px;
	cursor: pointer;
}
.colorselect:hover {
	box-shadow: 0px 0px 5px #888888;
}
.red {
	background-color: #fc4928;
}
.yellow {
	background-color: #fcc728;
}
.blue {
	background-color: #7f9ad1;
}
.green {
	background-color: #2cfd07;
}
.purple {
	background-color: #f94de9;
}
#record {
	height: 250px;
	width: 400px;
	position: absolute;
}
.un {
	font-size: 50px;
	text-align: center;
	line-height: 100px;
}